.bg{

    background-image:
    linear-gradient( rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('images/bg.jpeg');
    width: 100vw;
    height: 100vh;
    background-size: cover;
    color: black;
    overflow: hidden;
}


.login{

   

    background: whitesmoke;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    height: 410px;
    margin-right: auto;  
    margin-left: auto;
    margin-top: 80px;
    width: 329px;



}

.clogin{

    text-align: center;
    font-size: 25px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 30px;
    text-decoration: underline;
    text-transform: uppercase;
    text-decoration-color: red;


}

.llogin{

    margin-left: 40px;
    margin-top: 75px;
    padding-bottom: 40px;

    font-family: Georgia, 'Times New Roman', Times, serif;


  
}


button{

    color:white;
    text-decoration: none;
    letter-spacing: 1px;
    background-color: #00A8CC;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    /* padding: 0.8375em 1.1875em; */
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
    margin-bottom: 40px;
    margin-top: 80px;
    margin-left: 10px;
}

button:hover
{

    background-color: #0a49f6;
    transition: 0.4s ease;
}

.info{
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}
